# Ignore everthing created by gerrit in docker volumes 
gerrit/*/**

# Except docker volumes root folders

!gerrit/cache/.gitkeep
!gerrit/db/.gitkeep
!gerrit/git/.gitkeep
!gerrit/index/.gitkeep

# Except user defined config files

!gerrit/etc/gerrit.config
