[access]
	inheritFrom = All-Projects

[submit]
	action = inherit

[access "refs/*"]
	owner = group Administrators
	read = deny group Anonymous Users

[access "^refs/heads/[a-zA-Z0-9]+"]
	read = group Anonymous Users

[access "refs/heads/${username}/*"]
	create = group Students
	push = +force group Students
	read = group Students
	revert = group Students
