[access]
	inheritFrom = All-Projects

[submit]
	action = inherit

[access "refs/*"]
	owner = group Administrators
	read = deny group Anonymous Users

[access "refs/for/*"]
	addPatchSet = deny group Registered Users

[access "refs/for/refs/*"]
	push = deny group Registered Users
	pushMerge = deny group Registered Users

[access "^refs/heads/[a-zA-Z0-9]+"]
	read = group Registered Users

[access "^refs/for/refs/heads/[a-zA-Z0-9]+"]
	push = group Registered Users
	pushMerge = group Registered Users

[access "refs/heads/${username}/*"]
	create = group Registered Users
	push = +force group Registered Users
	read = group Registered Users

[access "refs/heads/*"]
	label-Code-Review = deny -2..+2 group Registered Users