[access]
	inheritFrom = All-Projects

[submit]
	action = inherit

[access "refs/*"]
	owner = group Administrators
	read = deny group Anonymous Users

[access "refs/heads/master"]
	read = group Anonymous Users

[access "refs/heads/${username}/*"]
	create = group Students
	push = group Students
	read = group Students
	revert = group Students

[access "refs/for/heads/${username}/*"]
	addPatchSet = group Students

[access "refs/for/refs/${username}/*"]
	push = group Students
	pushMerge = group Students