[access]
    inheritFrom = All-Projects

[submit]
    action = inherit

[access "refs/*"]
    owner = group Administrators
    read = deny group Registered Users
    revert = deny group Registered Users

[access "refs/for/*"]
    addPatchSet = deny group Registered Users

[access "refs/for/refs/*"]
	push = deny group Registered Users
	pushMerge = deny group Registered Users

[access "refs/heads/*"]
	forgeAuthor = deny group Registered Users
	label-Code-Review = deny -1..+1 group Registered Users

[access "refs/heads/${username}/*"]
    read = group Students
    create = group Students
    push = group Students
    pushMerge = group Students
    revert =  group Students

[access "refs/for/heads/${username}/*"]
    addPatchSet = group Students

[access "refs/for/refs/${username}/*"]
	push =  group Students
	pushMerge = group Students